img {
  display: block;
  max-width: 100%;
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: auto;
  height: auto;
  object-fit: contain;
}
